:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.html {
    min-height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    font-size: 2rem;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(300deg, #3c1053, #ad5389), fixed;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(300deg, #3c1053, #ad5389), fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fffff4;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
     text-shadow: 2px 2px #000;
}

.grid-wrapper {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    gap: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

.signOut {
    position: absolute;
    top: 0;
    left: 1rem;
}

.practice {
    flex-direction: column;
}

.rating {
    height: auto;
    width: auto;
    border: 3px solid #000;
    padding: 5px;
    box-shadow: 5px 5px #000;
    background-color: #FFFFF4;
    color: #000;
}

.rating-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.zero {
    background-color: rgb(142,196,222);
}

.one {
    background-color: rgb(209, 229, 240);
}

.two {
    background-color: rgb(249,249,249);
}

.three {
    background-color: rgb(254,219,199);
}

.four {
    background-color: rgb(246, 164, 130);
}

.five {
    background-color: rgb(215, 095, 079);
}

.card {
    height: 200px;
    width: 40dvw;
    border: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px #000;
    background-color: #FFFFF4;
    color: #000;
}

.flashcard {
    font-size: 1.3rem;
    width: 80vw;
    height: 60vh;
}

@media (max-width: 700px){
    .container {
        flex-direction: column;
    }

    .card {
        width: 80dvw;
    }
}